<a routerLink="/"> Front Page </a>

<h2 align="center">
  Product Transection
</h2>


<br>
<br>

<div class="container-fluid" >
  <div class="row">
    <div class="col-lg-6">
      <div class="container">

        <form class="form-horizontal">
          <div class="row" style="padding-left: 15px;">
            <div class="col-25">
              <label class="control-label col-sm-2" for="position">Product:</label>
            </div>
            <div class="col-25" >

              <select id="name" class="form-control" name="name" style="font-size: 8px;" [(ngModel)]="finalProduct.name" >
                <option *ngFor="let product of products" value="{{product.name}}" style="font-size: 10px;"><strong>{{product.name}}</strong></option>
              </select>
            </div>
          </div>

          <div class="row" style="padding-left: 15px;">
            <div class="col-25">
              <label for="fname">Quantity</label>
            </div>
            <div class="col-25">

              <input type="number" class="form-control" name="quantityProduct" id="quantityProduct" [(ngModel)]="finalProduct.quantityProduct"
                placeholder="quantity">
            </div>
          </div>


          <div class="row" style="padding-left: 15px;">
            <div class="col-25">
                <label class="control-label col-sm-2" for="position">Price:</label>
            </div>
            <div class="col-25">
              <input type="number" class="form-control" name="priceProduct" id="priceProduct" [(ngModel)]="finalProduct.priceProduct"
                placeholder="price">
              <!-- <input type="number" [value]="priceProduct" name="priceProduct" id="priceProduct" placeholder="price"
                ngModel> -->
            </div>
          </div>
         

          <div class="form-group" class="row"> 
            <div class=" col-sm-10">
              <button type="submit" class="btn btn-default" (click)="sellProducts(finalProduct)">Submit</button>
            </div>
          </div>
          <popup>Change quantity. Quantity is more than in store</popup>
          <!-- <popup  (confirmClick)="YourConfirmEvent()" >
              Add your own html elements here
          </popup> -->
        </form>




      </div>
    </div>
    <div class="col-lg-4" >
      <div class="container_table">
        <h2 style="font-size: 15px;"><strong>Present Product Status</strong></h2>

        <table align="center">
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>

          <tr *ngFor="let product of productsAllForSell" >
            <td style="font-size: 15px;">{{product.id}}</td>
            <td style="font-size: 15px;">{{product.name}}</td>
            <td style="font-size: 15px;">{{product.Quantity}}</td>

          </tr>
        </table>
      </div>

    </div>
  </div>
</div>

<br>
<br>

<div class="container">



</div>
<h1 *ngIf="errorMessage" class="alert alert-danger">
  <strong>Danger!</strong> {{errorToChoseProduct}}
</h1>



<h1 align="center">
  Its Invoice From Shahadat
</h1>
<div class="container">
  <table align="center">

    <th>Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Amount</th>

    <tr *ngFor="let singleProduct of productSellObj">

      <td align="center">{{singleProduct.name}}</td>
      <td align="center">{{singleProduct.Quantity}}</td>
      <td align="center">{{singleProduct.Price}}</td>
      <td align="center">{{singleProduct.totalPrice}}</td>

      <td (click)="deleteProduct(singleProduct.id)"><a>DELETE</a></td>

    </tr>

    <tr align="right">
      <td style="border: 1px solid white;"></td>
      <td style="border: 1px solid white;"></td>
      <td style="border: 1px solid black;" class="no-line text-center"><strong>Total </strong></td>
      <td class="no-line text-right">{{totalAmount}}</td>
    </tr>
    <tr>
      <button type="button" align="right" (click)="finishSell(9999)">Submit</button>

  </table>

</div>

<br>
<!-- <h3 *ngIf="isAdded">{{confirmationString}}</h3> -->

<div *ngIf="isAdded" align="center">
  <a routerLink="/invoice"> Show invoice </a>

</div>