<h2>
  Update Product
</h2>

<p *ngIf = "!exist">
  Product doesn't exist
</p>

<form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "updateProduct(productData.value)">
  <label>Name: </label><input type = "text" name="name" id="name" placeholder="name" [(ngModel)] = "data.name" ngModel><br>
  <label>Price: </label><input type = "number" name="price" id="price" [(ngModel)] = "data.Price" placeholder="price" ngModel><br>
  <input type="submit" value = "Update Product">
</form>

