<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>

    </style>
</head>



<body>

    <div class="invoice-box" id="obrz" style="background-color:white;">
        <table cellpadding="0" cellspacing="0" style="border: 1px solid white; ">
            <tr class="top" style="border: 1px solid white;">
                <td colspan="5" style="border: 1px solid white;">
                    <table style="border: 1px solid white;">
                        <tr style="border: 1px solid white;">
                            <td class="border" style="border: 1px solid white; font-weight:bold; vertical-align: bottom; font-size: 15px;">

                                <p style=" color: #FFA07A; line-height: 0.5">𝔸𝕃 𝔹𝔸ℝ𝔸𝕂𝔸 𝔼𝕃𝔼ℂ𝕋ℝ𝕆ℕ𝕀ℂ𝕊 </p>
                                нσℓу мαккαн υтαвιууαн αℓ αи∂αℓυѕ <br>
                                Mob: 0542048086-0534697283


                            </td>


                            <td style="border: 1px solid white; font-weight:bold; vertical-align: bottom; font-size: 18px;">
                               
                                <p style=" color: #FFA07A; line-height: 0.5"> البرك الكتر ؤ نيا ت </p>
                                مكت العتيبه لا ند لسي<br>
                                جو ال/٣٨٢٧٩٦٤٣٥٠ ـ ٦٨ ٠ ٠٢٤٥

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

           
            <tr style="border: 1px solid white;" class="information">
                <td colspan="5" style="border: 1px solid white;">
                    <table style="border: 1px solid white;">
                        <tr>
                            <div class="col-sm-7" style="border: 2px solid ; border-color:#AED6F1; border-radius: 8px;font-size: 15px;">Customer 
                                :<strong>{{  customerName}}</strong></div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4" style="border: 2px solid ; border-color:#AED6F1; border-radius: 8px;font-size: 15px;">Date
                                <strong>{{todayDate | date:'M-d-yy, h:mm a '}}</strong></div>

                        </tr>
                    </table>
                </td>
            </tr>

            <tr style="border: 1px solid white;" class="information">
                <td colspan="5" style="border: 1px solid white;">
                    <table style="border: 1px solid white;">
                        <tr>
                            <div class="col-sm-2 " style="border: 2px solid ; border-color:#AED6F1; border-radius: 8px;font-size: 15px;" align="center"><strong>Cash</strong></div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2" style="border: 2px solid ; border-color:#AED6F1; border-radius: 8px;font-size: 15px;" align="center"><strong>Credit</strong></div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-4" style="border: 2px solid ; border-color:#AED6F1; border-radius: 8px;font-size: 15px;">Invoice
                                No <strong>{{lastProductInvoice}}</strong></div>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="border: 1px solid white;" class="information">
                <td colspan="5" style="border: 1px solid white;">
                    <table style="border: 1px solid white;">
                        <tr>

                        </tr>
                    </table>
                </td>
            </tr>



            <tr style="border: 1px solid white; background: #eee;
            border-bottom: 1px solid #ddd;" align="center"
                bgcolor="#FF0000">
                <td style="border: 1px solid white;">
                    No.
                </td>
                <td style="border: 1px solid white;">
                    Item
                </td>
                <td style="text-align:center; border: 1px solid white;">
                    Quantity
                </td>

                <td style="border: 1px solid white;">
                    Rate
                </td>
                <td style="border: 1px solid white;">
                    Amount
                </td>
            </tr>



            <tr align="center" *ngFor="let product of sellProducts">

                <td style="border: 1px solid white; font-size: 15px;border-bottom: 1px solid currentColor;">{{product.sellId}}</td>

                <td style="border: 1px solid white; font-size: 15px;border-bottom: 1px solid currentColor;">{{product.productName}}</td>
                <td style="border: 1px solid white; text-align:center; border-bottom: 1px solid currentColor;font-size: 15px;">{{product.quantity}}</td>
                <td style="border: 1px solid white; font-size: 15px;border-bottom: 1px solid currentColor;">{{product.price}}</td>
                <td style="border: 1px solid white; font-size: 15px;border-bottom: 1px solid currentColor;">{{product.TotalSellAmount}}</td>


            </tr>

            <tr class="total">
                <td style="border: 1px solid white;"></td>
                <td style="border: 1px solid white;"></td>
                <td style="border: 1px solid white;"></td>
                <td style="border: 1px solid white;" align="right"></td>

                <td style="border: 1px solid white;;" align="center">

                </td>
            </tr>

            <tr class="total">
                <td style="border: 1px solid white;"></td>
                <td style="border: 1px solid white;"></td>
                <td style="border: 1px solid white;"></td>
                <td style="font-size: 15px; border: 1px solid white;" align="right">Total Amount =</td>
                <div class="col-sm-7" style="border: 2px solid ; border-color:#AED6F1; border-radius: 8px;font-size: 15px;" align="center">
                        <strong> {{totalAmount}}</strong></div>
            </tr>

            <tr class="total">
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="border: 1px solid white;"></td>
                    <td style="font-size: 15px; border: 1px solid white;" align="right">VAT =</td>

                    <div class="col-sm-7" style="border: 2px solid ; color: white;border-color:#AED6F1; border-radius: 8px;font-size: 15px;" align="center">
                            <strong> 0</strong></div>
            </tr>
            <tr class="total">
                <td style="border: 1px solid white;"></td>
                <td style="border: 1px solid white;"></td>
                <td style="border: 1px solid white;"></td>
                <td style="font-size: 15px;border: 1px solid white;" align="right">Net Amount =</td>

                <div class="col-sm-7" style="border: 2px solid ; color: white; border-color:#AED6F1; border-radius: 8px;font-size: 15px;" align="center">
                        <strong> 0</strong></div>
            </tr>
        </table>
    </div>

    <button (click)="downloadPdf()">Create PDF</button>

    
</body>

</html>