<div class="sidenav">

  <a></a>
  <a></a>
  <a></a>
  <a></a>
  <a [routerLink]="['']" style="font-size: 15px;" class="w3-bar-item w3-button"> First Page</a>
  <a [routerLink]="['/product']" style="font-size: 15px;" class="w3-bar-item w3-button"> Add Product</a>
  <a [routerLink]="['/sellProducts']" style="font-size: 15px;" class="w3-bar-item w3-button"> Product Sell</a>
  <a [routerLink]="['/updateQuntity']" style="font-size: 15px;" class="w3-bar-item w3-button"> Update Quantity</a>
</div>
<div class="navbar">
  <p align="center"> </p>
  <p align="center"> </p>
</div>

<div class="container">
  <h2></h2>
  <p></p>
  <form class="form-inline">
    <div class="form-group" >
      <label for="name" >Product:</label>
      <select id="name" name="name" [(ngModel)]="updateProduct.name" class="form-control" #pname="ngModel" required>
        <option *ngFor="let product of products" value="{{product.name}}">{{product.name}}</option>
      </select>
    </div>

    <div class="form-group" >
      <label for="pwd">Add Quantiy:</label>
      <input type="number" [(ngModel)]="updateProduct.quantity" class="form-control" id="pwd" #pquantity="ngModel"
        placeholder="Enter New Quantiy" name="pquantity" required minlength="1" pattern="[0-9]"  >
 
      <div *ngIf="pquantity.invalid && (pquantity.dirty || pquantity.touched)" class="alert alert-danger">

        <div *ngIf="pquantity.errors.required">
          Quantity is required.
        </div>
        <div *ngIf="pquantity.errors.minlength">
          Quantity must be at least 1 characters long.
        </div>
        <div *ngIf="pquantity.errors?.pattern">
            Quantity not valid.
       </div> 
       
      </div>
    </div>

  </form>

  <button type="button" mdbBtn color="primary" mdbWavesEffect align="right"
    (click)="updateQuantity(updateProduct)">Finish</button>
</div>


