<div class="container">
  <h2>Inline form</h2>
  <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the labels are alongside.</p>
  <form class="form-inline" action="/action_page.php">
    <div class="form-group">
      <label for="email">Product:</label>
      <select id="name" name="name" [(ngModel)]="name" class="form-control">
        <option *ngFor="let product of products" value="{{product.name}}">{{product.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="pwd">Quantiy:</label>
      <input type="number"  [(ngModel)]="quantity" class="form-control" id="pwd" placeholder="Enter New Quantiy" name="pwd">
    </div>
   
    
  </form>
  <!-- <button type="submit" class="btn btn-default" >Submit</button>-->
  <button type="button" mdbBtn color="primary" mdbWavesEffect align="right" (click)="updateQuantity(name,quantity)">Finish</button> 
</div>
