.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  .container {
    border-radius: 5px;
    padding: 25px;
    width: 550px;
    background-color: #f2f2f2;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  header {
    position: fixed;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
    width: 100%
  }
  
  header::after {
    clear: both;
    content: '';
    display: table;
  }
  
  #header-img {
    width: 90px;
    height: 40px;
    float: left;
    padding-top: 1.7em;
  }
  
  nav ul{
    float: right;
    margin-right: 2em;
  }
  nav li{
    display: inline;
    padding: 1em;
    display: inline-block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    color: inherit;
  }
  
  #about-us {
    background-color: #444;
    color: white;
    Padding: 20em;
    background-image: url(https://images.unsplash.com/photo-1514050566906-8d077bae7046?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2369b77063d1bf6462de3d6658f18a6a&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  main {
    font-family: 'Exo 2', sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #videos {
    text-align: center;
    padding: 3.5em;
    }
  
  #video {
    margin: 0 auto;
  }
  
  img {
    width: 20em;
    height: 14em;
    margin: 10px;
  }
  #photos {
     background-color:#f2efea;
     padding: 3em;
  }
  #photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  input{
    height: 2em;
    border: none;
    transition: 0.1s;
  }
  input:hover {
      border-bottom: 2px solid black;
  }
  #form {
    text-align: center;
    padding: 2em;
  }
  
  #submit {
    border-radius: 5px;
    padding: 0.5em;
    font-family: 'Exo 2', sans-serif;
    background-color: #ffe500;
    border: none;
  }
  
  html, body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
  }
  
  footer {
    background-color: #171faa;
    padding: 2em;
    color: white;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li {
    display: inline;
    padding: 2em;
  }
  
  @media (max-width: 550px ){
    h1 {
      font-size: 1.25em;
    }
  }