<div class="sidenav">

  <a></a>
  <a></a>
  <a></a>
  <a></a>
  <a [routerLink]="['']" style="font-size: 15px;" class="w3-bar-item w3-button"> First Page</a>
  <a [routerLink]="['/product']" style="font-size: 15px;" class="w3-bar-item w3-button"> Add Product</a>
  <a [routerLink]="['/sellProducts']" style="font-size: 15px;" class="w3-bar-item w3-button"> Product Sell</a>
  <a [routerLink]="['/updateQuntity']" style="font-size: 15px;" class="w3-bar-item w3-button"> Update Quantity</a>
</div>
<div class="navbar">
  <p align="center"> </p>
  <p align="center"> </p>
</div>



<div>
<p>this is {{asd}}</p>
  <<table align="center">
    Products
    </table>
    <th></th>

    <table align="center"  class="table table-striped; " >
      <thead>
        <th style="text-align:center">ID</th>
        <th style="text-align:center">Name</th>
        <th style="text-align:center">Quantity</th>
        <th style="text-align:center">Delete</th>
      </thead>

      <tbody>



        <tr *ngFor="let product of products;  let i= index">
          <td> {{i+1}} </td>
          <td>{{product.name}}</td>
          <td>{{product.Quantity}}</td>

          <td><button type="button" (click)="deleteProduct(product.id)" class="btn btn-sm btn-danger">
              <i class="glyphicon glyphicon-remove-circle">
              </i>
            </button></td>

        </tr>
      </tbody>
    </table>

    
</div>