
<div class="sidenav">

  <a></a>
  <a></a>
  <a></a>
  <a></a>
  <a [routerLink]="['']" style="font-size: 15px;" class="w3-bar-item w3-button"> First Page</a>
  <a [routerLink]="['/product']" style="font-size: 15px;" class="w3-bar-item w3-button"> Add Product</a>
  <a [routerLink]="['/sellProducts']" style="font-size: 15px;" class="w3-bar-item w3-button"> Product Sell</a>
  <a [routerLink]="['/updateQuntity']" style="font-size: 15px;" class="w3-bar-item w3-button"> Update Quantity</a>
</div>
<div class="navbar">
  <p align="center"> </p>
  <p align="center"> </p>
</div>



<div>

  <<table align="center">
    Products
    </table>
    <th></th>

    <table align="center">
      <th>ID</th>
      <th>Name</th>
      <th>Quantity</th>
      <th></th>
      
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.Quantity}}</td>
       
        <td><button type="submit" align="right" class="btn btn-default" (click)="deleteProduct(product.id)">DELETE</button></td> 
    
      </tr>
    </table>

</div>